.Product__card-container {
    cursor: pointer;
}

.Product__card {
    display: flex;
    flex-direction: row;
    padding: 16px 0;
}

.Product__card-image {
    padding: 0 16px;
}

.Product__card-image .Product__image {
    border-radius: 4px;
}

.Product__card-detail {
    display: flex;
    flex-direction: column;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.Product__detail-header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding: 16px 0 32px 0;
}

.Product__detail-header .Product__detail-price {
    display: flex;
    flex-direction: row;
    font-size: 24px;
    padding-right: 8px;
}

.Product__detail-header .Product__detail-shipping {
    padding-left: 8px;
}

.Product__detail-header .Product__detail-location {
    font-size: 12px;
}

.Product__detail-body .Product__detail-description {
    font-size: 18px;
}

.Product__separator {
    height: 1px;
    background-color: #EEEEEE;
    border: 0;
    margin: 0 32px;
}
