.Breadcrumb {
    display: flex;
    margin: 16px 0;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
    margin-left: 8.333333%;
}

.Breadcrumb__item-label {
    font-size: 14px;
    color: #999999;
}
.Breadcrumb__item-label:last-child {
    font-weight: bold;
}

.Breadcrumb__separator::after {
    content: '>';
    padding: 0 5px;
}