.Product {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    border-radius: 4px;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
    margin-left: 8.333333%;
    padding: 16px;
}

.Product__detail {
    display: flex;
    flex-direction: row;
    flex: 0 0 100%;
    max-width: 100%;
}

.Product__detail .Product__detail-image {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.Product__detail-image .Product__image {
    width: 100%;
    border-radius: 0;
}

.Product__detail-info {
    display: flex;
    flex-direction: column;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding: 0 16px;
}

.Product__detail-info .Product__info-stats {
    font-size: 14px;
    margin-bottom: 16px;
    padding-top: 32px;
    color: #333333;
}

.Product__detail-info .Product__info-title {
    color: #333333;
    font-size: 24px;
    font-weight: bold;
}

.Product__detail-info .Product__info-price {
    color: #333333;
    font-size: 46px;
    padding: 32px 0;
}

.Product__info-price .Product__price-decimal {
    position: relative;
    top: -0.4em;
    font-size: 0.63em;
}

.Product__detail-info .Product__info-buy {
    padding-right: 32px;
}

.Product__info-buy .Product__info-button {
    width: 100%;
    background-color: #3483Fa;
    font-size: 16px;
    color: #FFFFFF;
    border-width: 0;
    border-radius: 4px;
    padding: 16px;
}

.Product__info-buy .Product__info-button:focus {
    outline: -webkit-focus-ring-color auto 0px;
}

.Product__description {
    display: flex;
    flex-direction: column;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    padding: 0 0 0 32px;
}

.Product__description .Product__description-title {
    color: #333333;
    font-size: 28px;
    padding: 32px 0;
}

.Product__description .Product__description-content {
    font-size: 16px;
    color: #999999;
}
